@import "tailwindcss";

/* Custom animation for react-hot-toast */
@keyframes hotToastEnterAnimation {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hotToastExitAnimation {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.hotToastEnter {
  animation: hotToastEnterAnimation 0.35s cubic-bezier(0.21, 1.02, 0.73, 1)
    forwards;
}

.hotToastExit {
  animation: hotToastExitAnimation 0.4s cubic-bezier(0.06, 0.71, 0.55, 1)
    forwards;
}
